<% include base/head %>
<% include base/header %>

  <main>
    <% if (thingsData.length) { %>
      <ul class="things">
      <% for (var i = 0; i < thingsData.length; i++) { %>
        <li class="things--item thing">
        <% if ( loggedin === true ) { %>
          <a href="/thing?id=<%= thingsData[i]._id %>" class="thing--link thing--<%= thingsData[i].type %>"><%= thingsData[i].thing %></a>
        <% } else { %>
          <p class="thing--content thing--<%= thingsData[i].type %>"><%= thingsData[i].thing %></p>
        <% } %>
        </li>
      <% } %>
      </ul>
    <% } %>
  </main>

<% include base/footer %>
